/* You can add global styles to this file, and also import other style files */
.section-shaped .shape-style-1.shape-primary {
    background: url('./assets/bg06.jpg')!important;
    background-size: 100%!important;
}
.overlay {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 0;
    opacity: 0.6;

}
.lead {
        font-weight: 600!important;
        font-size: 38px!important;
        color: #FFF!important;
}

@media only screen and (max-width: 600px) {
    .section-shaped .shape-style-1.shape-primary {
        background: url('./assets/bg01.jpg')!important;
        background-size: 320%!important;
    }
}